@import "variables";

.home-banner {
  width: 100%;
  height: 595px;
  display: flex;
  margin-bottom: 60px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  &.left {
    justify-content: start;

    & > .home-banner-info {
      @media #{$mobile-layout} {
        text-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.45);
      }
      @media #{$tab-layout} {
        text-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.45);
      }
      @media #{$desktop-layout} {
        text-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.45);
      }
      @media #{$xl-layout} {
        text-align: left;
        align-items: start;
        background: linear-gradient(
                        to right,
                        rgba(0, 0, 0, 0.1) 0%,
                        rgba(0, 0, 0, 0.45) 10% 90%,
                        rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }

  &.right {
    justify-content: end;

    & > .home-banner-info {
      @media #{$mobile-layout} {
        text-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.45);
      }
      @media #{$tab-layout} {
        text-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.45);
      }
      @media #{$desktop-layout} {
        text-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.45);
      }
      @media #{$xl-layout} {
        text-align: left;
        align-items: end;
        background: linear-gradient(
                        to right,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0.45) 10% 90%,
                        rgba(0, 0, 0, 0.1) 100%
        );
      }
    }
  }
}

.home-banner-info {
  display: flex;
  flex-direction: column;
  @media #{$mobile-layout} {
    width: 100%;
    padding: 30px;
  }
  @media #{$tab-layout} {
    width: 100%;
    padding: 30px;
  }
  @media #{$desktop-layout} {
    width: 100%;
    padding: 30px;
  }
  @media #{$xl-layout} {
    width: 50%;
    padding: 60px;
  }
}

.home-banner-title {
  margin-bottom: 30px;
  font-family: $mont;
  margin-top: 0;
  font-weight: 900;
  color: $white;
  @media #{$mobile-layout} {
    font-size: 23px;
  }
  @media #{$tab-layout} {
    font-size: 27px;
  }
  @media #{$desktop-layout} {
    font-size: 30px;
  }
  @media #{$xl-layout} {
    font-size: 30px;
  }
}

.home-banner-subtitle {
  margin-bottom: 30px;
  font-family: $tinos;
  font-weight: 700;
  color: $white;
  @media #{$mobile-layout} {
    font-size: 23px;
  }
  @media #{$tab-layout} {
    font-size: 23px;
  }
  @media #{$desktop-layout} {
    font-size: 26px;
  }
  @media #{$xl-layout} {
    font-size: 26px;
  }
}

.home-banner-text {
  margin-bottom: 15px;
  font-family: $tinos;
  font-weight: 400;
  line-height: 140%;
  color: $white;
  @media #{$mobile-layout} {
    font-size: 20px;
  }
  @media #{$tab-layout} {
    font-size: 20px;
  }
  @media #{$desktop-layout} {
    font-size: 23px;
  }
  @media #{$xl-layout} {
    font-size: 23px;
  }
}

.home-banner-link {
  color: $white;
  font-weight: 600;
  text-decoration: underline;
  @media #{$mobile-layout} {
    font-size: 23px;
  }
  @media #{$tab-layout} {
    font-size: 23px;
  }
  @media #{$desktop-layout} {
    font-size: 26px;
  }
  @media #{$xl-layout} {
    font-size: 26px;
  }

  &:hover {
    color: $pink-primary;
  }
}

