@import "variables";

/*----------------------------------------*/

/*  1. Template default CSS
/*----------------------------------------*/

/*-- Google Font --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-- Common Style --*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $tinos;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  width: 100%;

  color: $text-black;
  background-color: $white;
}

a {
  text-decoration: none;
  color: #1D1D1D;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    color: $pink-primary;
  }
}

h1,
h3 {
  font-family: $mont;
  margin-top: 0;
  font-weight: 900;
}

h1 {
  color: $blue-primary;
  line-height: 130%;
  @media #{$mobile-layout} {
    font-size: 21px;
  }
  @media #{$tab-layout} {
    font-size: 23px;
  }
  @media #{$desktop-layout} {
    font-size: 27px;
  }
  @media #{$xl-layout} {
    font-size: 27px;
  }
}

h2 {
  font-family: $tinos;
  font-weight: 700;
  line-height: 140%;
  color: $text-black;
  @media #{$mobile-layout} {
    font-size: 20px;
  }
  @media #{$tab-layout} {
    font-size: 20px;
  }
  @media #{$desktop-layout} {
    font-size: 23px;
  }
  @media #{$xl-layout} {
    font-size: 23px;
  }
}

h3 {
  line-height: 140%;
  color: $text-black;
  @media #{$mobile-layout} {
    font-size: 17px;
  }
  @media #{$tab-layout} {
    font-size: 17px;
  }
  @media #{$desktop-layout} {
    font-size: 20px;
  }
  @media #{$xl-layout} {
    font-size: 20px;
  }
}

p {
  font-family: $tinos;
  font-weight: 400;
  line-height: 140%;
  color: $text-black;
  @media #{$mobile-layout} {
    font-size: 17px;
    margin-bottom: 7px;
  }
  @media #{$tab-layout} {
    font-size: 17px;
    margin-bottom: 7px;
  }
  @media #{$desktop-layout} {
    font-size: 20px;
    margin-bottom: 10px;
  }
  @media #{$xl-layout} {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
