@import "variables";

.input-wrapper {
  & input {
    width: 100%;
    height: 45px;
    border: 1px solid #475FB7;
    border-radius: 5px;
    padding-left: 16px;
  }
}

.input-label {
  font-family: $tinos;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 5px;
  padding: 0 5px 0 16px;
  position: relative;
  display: inline-block;
}

.input-required {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 6px;
}

.input-phone {
  position: relative;
}

.input-phone-placeholder {
  position: absolute;
  top: 10px;
  left: 16px;
}



