@import "variables";

.main_layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //padding: 90px 0 335px;
  position: relative;
  width: 100%;
}

.content {
  flex: 3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content_container {
  margin: 0 20px;
  @media #{$mobile-layout} {
    padding: 30px 0 50px;
    width: 100%;
  }
  @media #{$tab-layout} {
    padding: 30px 0 50px;
    width: 100%;
  }
  @media #{$desktop-layout} {
    padding: 50px 0 80px;
    width: 100%;
  }
  @media #{$xl-layout} {
    padding: 50px 0 80px;
    width: 1190px;
  }
}