@import "variables";

.main_layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //padding: 90px 0 335px;
  position: relative;
  width: 100%;
}

.content-wrapper {
  flex: 3;
  width: 100%;
  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 0 20px;
  @media #{$mobile-layout} {
    width: 100%;

  }
  @media #{$tab-layout} {
    width: 100%;
  }
  @media #{$desktop-layout} {
    width: 100%;
  }
  @media #{$xl-layout} {
    width: 1190px;
  }
}

.content {
  @media #{$mobile-layout} {
    padding: 10px 0 50px;
  }
  @media #{$tab-layout} {
    padding: 10px 0 50px;
  }
  @media #{$desktop-layout} {
    padding: 10px 0 80px;
  }
  @media #{$xl-layout} {
    padding: 10px 0 80px;
  }
}