@import "variables";

.shop-item-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 5px;
  @media #{$mobile-layout} {
    flex-direction: column;
  }
  @media #{$tab-layout} {
    flex-direction: column;
  }
  @media #{$desktop-layout} {
    flex-direction: row;
  }
  @media #{$xl-layout} {
    flex-direction: row;
  }
}

.shop-item-column {
  flex: 1;
  @media #{$mobile-layout} {
    width: 100%;
  }
  @media #{$tab-layout} {
    width: 100%;
  }
  @media #{$desktop-layout} {
    width: calc(50% - 15px);
  }
  @media #{$xl-layout} {
    width: calc(50% - 15px);
  }
}

.shop-item-gallery-wrapper {
  width: 100%;
  margin: 5px 0 50px;
}

.shop-item-description-wrapper {
  display: flex;
  flex-direction: column;
}

.shop-item-description-artist {
  margin: 0 0 30px 0;
  color: #1d1d1d;
  font-family: $tinos;
  font-weight: 700;
  line-height: 100%;
  font-size: 23px;
}

.shop-item-description-name {
  margin: 0 0 30px 0;
  font-size: 27px;
  line-height: 100%;
  font-family: $mont;
  color: #163190;
  font-weight: 900;
}

.shop-item-short-description {
  margin: 0 0 30px 0;
  color: #1d1d1d;
  font-family: $tinos;
  font-weight: 400;
  line-height: 100%;
  font-size: 20px;
}

.shop-item-description {
  margin: 0;
}

.shop-item-price-wrapper {
  margin-top: 90px;
  display: flex;
  gap: 30px;
}

.shop-item-price {
  font-weight: 600;
  font-size: 27px;
  font-family: $mont;
  color: #163190;
  align-self: center;
}