@import "variables";

.shop-item-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 5px;
  @media #{$mobile-layout} {
    flex-direction: column;
  }
  @media #{$tab-layout} {
    flex-direction: column;
  }
  @media #{$desktop-layout} {
    flex-direction: row;
  }
  @media #{$xl-layout} {
    flex-direction: row;
  }
}

.shop-item-column {
  flex: 1;
  @media #{$mobile-layout} {
    width: 100%;
  }
  @media #{$tab-layout} {
    width: 100%;
  }
  @media #{$desktop-layout} {
    width: calc(50% - 15px);
  }
  @media #{$xl-layout} {
    width: calc(50% - 15px);
  }
}

.shop-item-gallery-wrapper {
  width: 100%;
  margin-top: 25px;
}

.shop-item-description-wrapper {
  display: flex;
  flex-direction: column;
}

.shop-item-short-description {
  margin: 50px 0;
}

.shop-item-description {
  margin: 50px 0;
}

.shop-item-price {
  display: block;
}