@import "variables";

.shop-item-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 15px;
  @media #{$mobile-layout} {
    & > .shop-item-column {
      width: 100%;
    }
  }
  @media #{$tab-layout} {
    & > .shop-item-column {
      width: 100%;
    }
  }
  @media #{$desktop-layout} {
    & > .shop-item-column {
      width: calc(50% - 15px);
    }
  }
  @media #{$xl-layout} {
    & > .shop-item-column {
      width: calc(50% - 15px);
    }
  }
}

.shop-item-column {
  flex: 1;
}

.shop-item-gallery-wrapper {
  width: 100%;
  margin-top: 15px;
}

.shop-item-description-wrapper {
  display: flex;
  flex-direction: column;
}