// Font Family
$mont: "Montserrat", sans-serif;
$tinos: "Tinos", serif;

// Colors ---------------

$white: #ffffff;
$text-black: #1D1D1D;
$pink-primary: #FD99B3;
$blue-primary: #163190;
$blue-secondary: #475FB7;

// Responsive Variables

$mobile-layout: "only screen and (max-width: 767.9px)";
$tab-layout: "only screen and (min-width: 768px) and (max-width: 991.9px)";
$desktop-layout: "only screen and (min-width: 992px) and (max-width: 1189.9px)";
$xl-layout: "only screen and (min-width: 1190px)";
